
.descuento{
    margin-top: 2000px;
    margin-bottom: 40px;
}
.separa{
    height: 2px;
    background-color: rgb(142, 137, 137);
    width: 100px;
    margin: 15px 0% 5px 10%;
    margin-left: 48%;
    margin-right: 50%;
    
}
.contacto{
    text-align: center;
}